
@model List<MyPlace.ViewModel.HomeOverviewModel>
@{
    ViewData["Title"] = "Home Page";
}





<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <a class="card-title">@item.UserEmail</a>
                <h5 class="card-title">@item.DateCreated</h5>

               
            </div>
        </div>
    </div>
    }
    
</div>
    
   
